extends layout

block content
  canvas#battlefield(width='700', height='350')

block scripts
  script(src='/js/Scene.js')
  script(src='/js/Player.js')
  script(src='/js/app.js')
  // script a las ips de los concursantes, implementando una funcion que sera
  // utilizada como ai de su Player
