extends layout

// block content
//   canvas#battlefield(width='700', height='350')
//   container#battlefieldContainer(width='700', height='350')

block scripts
  script(src='/js/Scene.js')
  script(src='/js/Player.js')
  script(src='/js/AIs.js')
  script(src='/js/conquerors_config.js')
  // Add here others AIs files
  //script(src='//192.168.2.130:3000/js/AIs.js')
  script(src='/js/app.js')
