extends layout

block content
  canvas#battlefield(width='700', height='350')

block scripts
  script(src='/js/Scene.js')
  script(src='/js/Player.js')
  script(src='/js/AIs.js')
  // Add here others AIs files
  script(src='/js/app.js')
