doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.js')
  body
    block content

    block scripts
