#battlefieldContainer {
  display: block;
  margin: auto;
}
.planetLabel {
  position: absolute;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: center;
  font-size: 10px;
  color: #fff;
}
.ships {
  position: absolute;
  width: 50px;
  left: -25px;
  top: -5px;
}
.owner {
  position: absolute;
  width: 60px;
  top: 40px;
  margin-left: -30px;
  background-color: rgba(255,255,255,0.25);
  padding-top: 4px;
  padding-bottom: 2px;
}
body {
  margin: 0;
}
